<h1>About Us</h1>
<p>FSBO Forum was started by Thomas Kutzman, the co-founder of the for-sale-by-owner real estate platform Prevu. <br /><br /> During the process of building Prevu, Thomas realized that there was a lack of helpful information for home owners to succeed in selling for-sale-by-owner. FSBO Forum is creating a community to empower homeowners to share and find that information.</p>