<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
    <div class="container-fluid">
        <h1>Welcome Back!</h1>
        <p>What's your newest FSBO experience?</p>
        <%= link_to "Start exploring »", "#", class: "btn btn-primary btn-lg" %> 
        </div>
</div>
<% else %>
    <div class="view">
    <!--Intro content-->
    <div class="full-bg-img flex-center">
    <div id="side_bar" class="clearfix">
        <h1 class="landing-h1-header">FSBO Forum</h1>
        <h2 class="landing-h2-header">Learn from each other's<br>real estate experiences!</h2>
    </div>
    </div>
    </div>
    </div>

<% end %>