// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url(image_path('happy_couple.jpg'));
  height: 600px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 !important;
  font-weight: bold;
  text-align: left;
  margin-top: -9px;
  p { 
  color: #283593;
  }
}


body {
    padding: 50px; 
    
}

body.home {
    background: url(image_path('happy_couple.jpg')) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-experiences {
    panel-border-style: solid;
    panel-border-color: #283593;
}

.landing-h1-header {
	position: relative; 
   top: 150px; 
   left: 10; 
   width: 100%; 
}

.landing-h2-header {
	position: relative; 
   top: 170px; 
   left: 10; 
   width: 100%; 
}

.devise-form-header {
	position: relative; 
   top: 210px; 
   left: 10; 
   width: 100%; 
}

// Navbar
$bgDefault      : #2119a5;
$bgHighlight    : #6459ca;
$colDefault     : #ecf0f1;
$colHighlight   : #ecf0f1;
$dropDown       : true;

.home .navbar-default {
    background: transparent;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  margin-bottom: 0px;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
